<app-client-navbar></app-client-navbar>

<form nz-form [formGroup]="validateForm" (submit)="searchAdByName()" style="margin-top:70px; margin-bottom: 20px; text-align: center;">
  <input nz-input placeholder="Enter service to search" nzSize="large" style="width: 20%;" formControlName="service"/>
  <button nz-button nzSize="large" nzType="primary" style="margin-left: 15px;" [disabled]="validateForm.invalid">Search</button>
</form>

<div class="bg">
    <div class="card" *ngFor="let ad of ads">
        <div class="image-container">
            <img class="profile" [src]="updateImg(ad.retrnedImg, ad.mimeType)" />
        </div>
        <div class="card-content">
            <h2>{{ad.serviceName}}</h2>
            <hr>
            <h5>Price: <b>{{ad.price}}</b></h5>
            <h5>Description: <b>{{ad.description}}</b></h5>
            <hr>
            <div>
                <button class="view" nzSize="small" nz-button nzType="primary" routerLink="/client/ad/{{ad.id}}">View</button>
            </div>
        </div>
    </div>
</div>
