<app-company-navbar></app-company-navbar>

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Service</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings">
                <td>{{ booking.userName }}</td>
                <td>{{ booking.serviceName }}</td>
                <td>{{ booking.nookDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ booking.reservationStatus }}</td>
                <td>
                    <span *ngIf="booking.reservationStatus === 'PENDING'">
                        <button class="btn-approve">Approve</button>
                        <button class="btn-reject">Reject</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
