
<body>
    <div class="bg">
        <div class="parent">
            <div class="left">
                <h1>Inscrivez-vous</h1>
                <p>Sélectionnez votre rôle pour commencer.</p>
                <div class="button-group">
                    <a href="/register_client" class="custom-button">S'inscrire en tant que Client</a>
                    <a href="register_company" class="custom-button">S'inscrire en tant que Company</a>
                </div>
            </div>
            <div class="right">
                <img src="../../../../assets/img/services.jpg" alt="Image de présentation">
            </div>
        </div>
    </div>

